<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odiga.mybatis.room.roomMapper.xml">

	<insert id="insertRoom" parameterType="RoomDTO">
		insert into room_option values(
			room_option_seq.nextval,
			#{hotel_num},
			#{room_name},
			#{minp},
			#{maxp},
			#{room_size },
			#{wifi },
			#{breakfast },
			#{smoking  },
			#{cooking  },
			#{price },
			#{room_img }
		)
	</insert>
	
	<select id="getRooms" parameterType="int" resultType="RoomDTO">
		select * from room_option where hotel_num = #{hotel_num}
	</select>
</mapper>