<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odiga.mybatis.comment.commentMapper.xml">

	<insert id="writeComment" parameterType="CommentDTO">
		insert into comments
		values(
			comments_seq.nextval,
			#{hotel_num},
			#{title},
			#{comments},
			#{id},
			#{passwd},
			sysdate,
			#{star_rate}
		)
	</insert>

	<delete id="deleteComment" parameterType="java.util.HashMap">
		${sql }
	</delete>

	<update id="updateComment" parameterType="CommentDTO">
		update comments set
		comments=#{comments}, 
		title = #{title }
		where num = #{num} and passwd = #{passwd }
	</update>

	<select id="getHotel_Comment" parameterType="java.util.HashMap" resultType="CommentDTO">
		${sql }
	</select>
	
	<select id="ifpaswd_Commnet" parameterType="java.util.HashMap" resultType="int">
		${sql }
	</select>

	<select id="getCountComment" parameterType="java.util.HashMap" resultType="int">
		${sql }
	</select>
</mapper>