<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.my.vision.mybatis.boardMapper.boardMapper">
	
	<select id="BoardList" resultType="BoardDTO" >
		select * from board
	</select>
	
	<insert id="insertBoard" parameterType="BoardDTO">
		insert into board values(
		board_seq.nextval, 
		#{name}, 
		sysdate, 
		#{password}, 
		#{content}, 
		#{title})
	</insert> 
	
	<select id="BoardContent" parameterType="int" resultType="BoardDTO">
		select * from board where no = #{no}
	</select>
	
	
	</mapper>