<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odiga.mybatis.member.memberMapper.xml">
	<insert id="insertMember" parameterType="MemberDTO">
		insert into member values (#{id},#{name},#{passwd},#{email},#{hp1},#{hp2},#{hp3},sysdate, 0)
	</insert>

	<select id="listMember" resultType="MemberDTO">
		select * from member
	</select>

	<select id="idCheck" parameterType = "String" resultType="int">
		select count(*) from member where id = #{id }
	</select>
	
	<select id = "emailCheck" parameterType="String" resultType = "int">
		select count(*) from member where email = #{email }
	</select>
	
	<select id="getMember" parameterType="String" resultType="MemberDTO">
		select*from member where id=#{id}
	</select>
	
	<update id="updateMember" parameterType="java.util.HashMap">
		update member set
		id=#{id}
		<if test="name != null">
		, name=#{name}
		</if>
		<if test="email != null">
		, email=#{email}
		</if>
		<if test="hp1 != null">
		, hp1=#{hp1}
		</if>
		<if test="hp2 != null">
		, hp2=#{hp2}
		</if>
		<if test="hp3 != null">
		, hp3=#{hp3}
		</if>
		<if test="passwd != null">
		, passwd=#{passwd}
		</if>
		where id=#{id}
	</update>
	
	<update id="pointEdit" parameterType="java.util.HashMap">
		${sql }
	</update>
	
	<select id = "getPoint" parameterType="String" resultType="int">
		select points from member where id = #{id }
	</select>
	
	<select id="isPasswd" parameterType="java.util.HashMap" resultType="String">
		${sql}
	</select>
	
	<delete id="deleteMember" parameterType="java.util.HashMap">
		${sql}
	</delete>
</mapper>